<form action="<%= submitCoursesPath %>" enctype="multipart/form-data" method="post">
  <div class="field">
    <label for="list">Select file</label>
    <input type="file" name="list" />
  </div>
  <div class="field">
    <input type="submit" name="upload" value="Upload" />
  </div>
</form>
