html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #F1F8FD;
  font-family: Helvetica, Arial, sans-serif;
}

#container {
  background-color: #E7EAF6;
  border: 1px solid #BAC0E4;
  margin: 20px auto;
  max-width: 800px;
  min-width: 600px;

  padding: 40px;
}

#user-bar {
  text-align: right;
}

/*
 * Form styles
 */

form {
  .field {
    margin-top: 10px;
    margin-bottom: 10px;
    label {
      display: inline-block;
      text-align: right;
      vertical-align: top;
      width: 100px;
    }
    textarea {
      width: 400px;
      height: 150px;
    }
  }
}

/*
 * Table
 */

 #generic-list {
  th {
    background-color: #CCD1E5;
    text-align: center;
  }

  td {
    background-color: #EEE;
    border: 1px solid rgb(194, 194, 194);
    padding: 10px;
  }
}
